/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
}
.header__image {
  width: 100%;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.main-content {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.article {
  display: block;
}
.article__aside {
  margin-bottom: 10px;
  text-align: right;
}
.article__link {
  font-family: fantasy, cursive;
}
.article__wrapper {
  display: flex;
}
.article__input,
.task-list__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.button {
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}
.button_add,
.button_delete,
.button_edit {
  background: none;
  border: 0px;
  color: #888;
}
.button:hover {
  color: #3a3A3a;
}
.button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button_delete
.button__icon:hover {
  transform: rotateZ(0);
}

/* Heading */
.article__title {
  padding: 30px 0 10px;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}
.article__title_style {
  border-bottom: 2px solid #333;
  color: #333;
  text-transform: uppercase;
}
.article__input {
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border-radius: 6px;
  font-family: Lato, sans-serif;
}
.article__input_style {
  border: 1px solid #dDd;
  background: #FFF;
  color: #888;
  outline: none;
}
.article__input:focus {
  color: #333;
}

/* New Task */
.article__title {
  display: block;
  margin: 0 0 20px;
}
.article__input#new-task {
  width: 318px;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list__item_style {
  border-bottom: 1px solid #eee;
  list-style: none;
}
.task-list__item > * {
  vertical-align: middle;
}
.task-list__checkbox {
  outline: none;
}
.task-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

/* Completed */
.article__subsection_completed
.task-list__label_style {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.article__input {
  width: 226px;
  width: 100%;
}
.task-list__item
.article__input {
  display: none;
}
.task-list__item_edit-mode
.task-list__label {
  display: none;
}
.task-list__item_edit-mode
.article__input {
  display: inline-block;
  width: 224px;
}
.task-list__item_edit-mode
.task-list__label {
  display: none;
}